%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TestBootstrap
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "devise", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-light
    #logreg-forms
      = yield

